

$black-normal : #0D0F10;
$black-dark : #050607;
$black-light : #15171A;


$white-normal : #f5f7f7;
$white-dark : #EDEFF0;
$white-light : #FAFCFC;

$orange-normal : #FFAC2D;
$orange-dark : #FFA92B;
$orange-light : #FFB535;